<h3>Post Product</h3>
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name: </label>
                <input type="text" style="width:400px;margin:0;" class="form-control" ng-model="new1.name" placeholder="product name...">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Description: </label>
                <input type="text" style="width:200px;margin:0;" class="form-control" ng-model="new1.description" placeholder="product description...">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Category: </label>
                <select style="width:200px;margin:0;" class="form-control" ng-model="new1.category" placeholder="product category...">
                    <option value="Beauty">Beauty</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Apparel">Apparel</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Toys">Toys</option>
                    
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Price: </label>
                <input type="text" style="width:200px;margin:0;" class="form-control" ng-model="new1.price" placeholder="product price...">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Retailer: </label>
                <input type="text" style="width:200px;margin:0;" class="form-control" ng-model="retailer" readonly>
            </div>
        </div>
    </form>



    <p style="text-align: center"><button class="btn btn-success" ng-click="new1.retailer=retailer ;postProduct(new1)">Submit</button></p>

    <h3>Post Event</h3>
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name: </label>
                <input type="text" style="width:400px;margin:0;" class="form-control" ng-model="new2.name" placeholder="event name...">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Category: </label>
                <select style="width:200px;margin:0;" class="form-control" ng-model="new.category" placeholder="event category...">
                    <option value="All Departments">All Departments</option>
                    <option value="Electronic, computer">Electronic, computer</option>
                    <option value="Home">Home</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Shoe">Shoe</option>
                    <option value="Sports">Sports</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Description: </label>
                <input type="text" style="width:200px;margin:0;" class="form-control" ng-model="new2.description" placeholder="event description...">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Location: </label>
                <input type="text" style="width:200px;margin:0;" class="form-control" ng-model="new2.price" placeholder="event location...">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label">Retailer: </label>
                <input type="text" style="width:200px;margin:0;" class="form-control" ng-model="new2.retailer" placeholder="retailer...">
            </div>
        </div>
    </form>
    <p style="text-align: center"><button class="btn btn-success" ng-click="">Submit</button></p>
    <br><br><br>